.services-container {
  color: #d6d0bc;
  width: 80%;
}

.services-header {
  font-size: 2.7rem;
  font-weight: bold;
  padding: 15px;
}

.list-servicos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 2.3rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  background-color: #3e301b;

  align-items: center;
  width: 350px;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 6px solid #547a46;
}

.service-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.service-id {
  font-size: 1.2rem;
  width: 100%;
  height: 25px;
}

.service-description {
  width: auto;
}

.service-duration-container {
  display: flex;
  gap: 5px;
  height: 20px;
  align-items: center;
}

.service-duration {
  font-size: 1.5rem;
}

span {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .services-container {
    width: 80%;
  }

  .list-servicos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    font-size: 2.3rem;
  }

  .service-description {
    font-size: 2rem;
  }
}
