.services-list {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 25px;
}

.Title {
  color: #333333;
  text-align: center;
  font-size: 2rem;
}

.list-servicos {
  display: flex;
  height: 90%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  max-height: 300px;
  overflow-y: auto;
}
.list::-webkit-scrollbar {
  width: 8px;
}
.list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  height: 50px;
  width: 80%;
  background-color: #3e301b;
  color: #d6d0bc;
  text-align: center;
  align-content: center;
  border-bottom: 4px solid #547a46;
  cursor: pointer;

  transition: transform 0.1s ease-in-out, background-color 0.1s;
}
.card:active {
  transform: scale(0.7);
  background-color: #547a46;
}

.card.selected {
  background-color: #3e301b;
  box-shadow: 0 4px 8px black;
  transform: scale(1.1);
}
