.list-servicos-selection-grid-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.services-selection-container {
  color: #d6d0bc;
  width: 100%;
}

.services-header {
  font-size: 2.7rem;
  font-weight: bold;
  padding: 15px;
}

.list-servicos-selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  font-size: 1.1rem;
  width: 100%;
}

.service-card-selection {
  display: flex;
  flex-direction: column;
  background-color: #3e301b;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 6px solid #547a46;
  color: #d6d0bc;
  transition: transform 0.1s ease-in-out, background-color 0.1s;
  box-sizing: border-box;
}

.service-card-selection:active {
  transform: scale(0.7);
  background-color: #547a46;
}

.service-card-selection.selected {
  background-color: #3e301b;
  box-shadow: 0 4px 8px black;
  transform: scale(1.1);
}

.service--selection-id {
  font-size: 0.8rem;
  width: 100%;
  height: 15px;
}

.service-selection-description {
  width: auto;
  font-size: 0.9rem;
}

.service-selection-duration-container {
  display: flex;
  gap: 5px;
  height: 20px;
  align-items: center;
}

.service-selection-duration {
  font-size: 0.8rem;
}

.service-selection-duration span {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .services-container {
    width: 80%;
  }

  .list-servicos-selection {
   

  }

  .service-description {
    font-size: 1.2rem;
  }
}
