.sidebar {
  position: fixed;
  top: 65px;
  left: 0;
  width: 250px;
  height: 100vh;
  flex-shrink: 0;
  background-color: #547a46;
  color: #d6d0bc;
  padding-top: 20px;
  padding-left: 10px;
  transform: translateX(-100%); /* Esconde a sidebar fora da tela por padrão */
  transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
  box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 999; /* Fica entre a sidebar e o conteúdo principal */

  /* Começa invisível e sem poder ser clicado */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar-overlay.open {
  opacity: 0.5; /* Torna o overlay visível */
  visibility: visible; /* Permite cliques no overlay */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}

nav {
  width: 100%;
}
.sidebar.open {
  transform: translateX(-0%);
}

.sidebar ul {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-start;
  gap: 20px;
}

.sidebar li {
  border-bottom: 1px solid #d6d0bc;
  width: 95%;
}
