.page-config-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  align-items: center;
  padding: 1rem;
}

.config-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  align-items: center;
}

.config-container{
  width: 80%;
}

.time-service-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: baseline;
  gap: 100px;
}

.time-service-manager{

  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: start;
  width: 100%;
  justify-content: center;  
}

.list-periods{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .config-container {
    width: 100%;
    flex-direction: column;
  }

  .time-service-container {
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
  }
  .time-service-manager{
    flex-wrap: wrap;
  }
}
