.forgot-password-title {
  border-bottom: 3px solid #3e301b;
  width: 80%;
  text-align: start;
  color: #3e301b;
  font-size: 2rem;
  margin-top: 25px;
}

.forgot-password-message {
  width: 80%;
  text-align: start;
  color: #3e301b;
  font-size: 1.5rem;
  margin-top: 25px;
}

.forgot-password-form {
  background-color: #3e301b;
  border-bottom: 4px solid #547a46;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.forgot-password-input {
  background-color: #d6d0bc;
  border-bottom: 4px solid #547a46;
  height: 30px;
  color: #3e301b;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

.forgot-password-button {
  background-color: #547a46;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}
