/*
#3e301b
#547a46
#d6d0bc
*/

.feedBack-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedBack-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-height: 500px;
  overflow-y: auto;
}

.feedBack-card {
  border: 2px solid #3e301b;
}

.feedBack-header {
  color: #d6d0bc;
  font-size: 1.3rem;
  font-weight: bold;
  height: 80px;
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: end;
  background-color: #3e301b;
  border-bottom: 6px solid #547a46;
}

.comment {
  background-color: #d6d0bc;
  color: #3e301b;
  text-align: start;
  padding: 10px;
  font-size: 1.2rem;
}
