/*
#3e301b
#547a46
#d6d0bc
*/

/*
#3e301b
#547a46
#d6d0bc
*/

.feedBack-list-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.feedBack-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  max-height: 500px;
  justify-content: center;
  
}

.feedBack-card {  
  background-color: #3e301b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0.5);
  border-bottom: 6px solid #547a46;
  height: auto;
  width: 300px;
}

.feedBack-header {
  color: #d6d0bc;
  font-size: 1.0rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e301b;
}

.feedback-rating {
  font-size: 1rem;
  padding: 3px;
}

.comment {
  color: #d6d0bc;
  text-align: start;
  padding: 10px;
  font-size: 1.5rem;
  height: 150px;
  text-align: center;
  font-style: italic;
}

.feedBack-actions {
  display: flex;
  justify-content: end;
}

.feedBack-delete-button {
  width: 100%;
  display: flex;
  justify-content: center;  
  color: #d6d0bc;
  background-color: #547a46;
  border: none;
  padding: 4px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .feedBack-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
