/* app/perfil/editar/EditProfile.css */
h1 {
  color: #3e301b;
  font-size: 2rem;
}

.form-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.edit-perfil-form {
  width: 100%;
  padding: 15px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: start;
  background-color: #3e301b;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

label {
}

input {
  background-color: #d6d0bc;
  border-bottom: 4px solid #547a46;
  height: 30px;
  color: #3e301b;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}

button {
  background-color: #547a46;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #2d4226;
}

.confirm-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: #c0392b; /* Vermelho */
  background-color: #fdd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
