/* --- Estilos Gerais --- */
.informations-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* Adicionado um pouco mais de margem geral */
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
}

h2 {
  font-size: 2rem;
  color: #3e301b;
  margin: 0; /* Remove a margem padrão para melhor controle */
}

/* --- Container dos Detalhes --- */
.information-details {
  background-color: #3e301b;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
  box-shadow: 5px 5px 10px rgba(0, 0, 0.5);
}

.button-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #d6d0bc;
  background-color: #547a46;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-actions p {
  width: 100%;
  text-align: center;
}

/* --- O Container dos Cards de Informação (A parte principal) --- */
.information-card {
  display: flex;
  flex-direction: column;
  width: 100%; /* Fundo geral para o conteúdo */
}

/* --- O Bloco de cada Informação --- */
.information-block {
  display: flex;
  flex-direction: column;
  /* Cada bloco ocupará o espaço disponível */
  flex: 1;
}

.information-header {
  color: #d6d0bc;
  font-size: 1.2rem;
  font-weight: bold;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.information-content {
  display: flex;

}

.information-block p {
  text-align: start;
  padding: 5px;
  margin: 0; /* Remove a margem padrão do <p> */
  height: 60px;
  font-size: 1rem;
  color: #3e301b;
  display: flex;
  align-items: flex-start;
}

.label {
  height: 100%;
}

.label-name {
  font-size: 3rem;
}
/* --- ✨ A MÁGICA DA RESPONSIVIDADE ✨ --- */
/* Esta regra será aplicada APENAS em telas com 768px de largura ou mais */
@media (min-width: 768px) {
  .information-details {
    width: 80%;
  }

  .information-card {
    /* Em telas maiores, mudamos a direção para linha */
    flex-direction: row;
  }

  .information-block {
    /* Adicionamos uma borda para separar as colunas visualmente */
    border-right: 1px solid #b5a990;
  }

  .information-block:last-child {
    /* Remove a borda do último item para um acabamento limpo */
    border-right: none;
  }
}
