.form-container {
  display: flex;
  justify-content: center;
  width: 50%;
  color: #3e301b;
  margin: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
  background-color: #3e301b;
  color: #d6d0bc;
  border-bottom: 6px solid #547a46;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  gap: 3px;
}

input {
  background-color: #d6d0bc;
  color: #3e301b;
  padding: 5px;
  width: 100%;
  border-bottom: 4px solid #547a46;
}

button {
  background-color: #547a46;
  width: 100%;
  padding: 5px;
  color: #d6d0bc;
}

@media (max-width: 768px) {
  .form-container {
    min-width: 80%;
    margin: 20 auto;
    padding: 10px;
  }
}
