.form-container {
  justify-content: center;
  color: #3e301b;
  display: flex;
  flex-direction: column;
  height: 100%;

  width: 50%;
}

h3 {
  font-size: 1.5rem;
}

.settings-form {
  box-shadow: 5px 5px 10px rgba(0, 0, 0.5);
}

.workTime-form {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #3e301b;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  background-color: #3e301b;
  color: #d6d0bc;
  border-bottom: 6px solid #547a46;
  padding: 10px;
}

.form-group label {
  text-align: start;
  font-weight: 600;
  font-size: 1.1rem;
}

input {
  background-color: #d6d0bc;
  color: #3e301b;
  border: none;
  border-bottom: 4px solid #547a46;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
}

.select-interval {
  background-color: #d6d0bc;
  color: #3e301b;
  border: none;
  border-bottom: 4px solid #547a46;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
}

.interval-option {
  color: #3e301b;
}

button {
  background-color: #547a46;
  color: #d6d0bc;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .form-container {
    flex-wrap: wrap;
    width: 80%;
  }
}
