.costumer-services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #d6d0bc;
  min-height: 100vh;
}
h1 {
  font-size: 2.5rem;
  color: #3e301b;
  text-align: center;
  margin-bottom: 20px;
  min-width: 400px;
  border-bottom: 3px solid #3e301b;
}

.atendimentos-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  border: 1px solid #3e301b;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #3e301b;
  gap: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.card-title {
  display: flex;
  background-color: #3e301b;
  color: #d6d0bc;
  height: 60px;
  font-size: 1.7rem;
  align-items: center;
  padding-left: 10px;
  margin: 0;
}

.cancel-button {
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #7c0202;
  height: 100%;
  padding: 7px;
  cursor: pointer;
}

.details-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.detail-block {
  box-sizing: border-box;
  flex: 1 1 0;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.detail-title {
  display: flex;
  align-items: center;
  background-color: #3e301b;
  color: #d6d0bc;
  font-size: 1.2rem;
  padding-left: 10px;
  border-bottom: 6px solid #547a46;
}

.detail-content {
  background-color: #d6d0bc;
  height: 100%;
  padding: 10px;
  font-size: 1.2em;
  color: #3e301b;
}

.detail-service {
  font-size: 1.2rem;
  color: #3e301b;
}

.carregando-atendimentos {
  font-size: 2rem;
  color: #3e301b;
}

.sem-atendimentos {
  font-size: 2rem;
  color: #3e301b;
}

.erro {
  font-size: 2rem;
  color: #7c0202;
}
