.lista-detalhes {
  color: #3e301b;
  font-size: 1.5rem;
}

.card-detalhes {
  color: #3e301b;
  font-size: 1.5rem;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}
