.services-title {
  color: #3e301b;
  font-size: 1.5rem;
  background-color: #d6d0bc;
  width: 100%;
}

.services-container {
  color: #3e301b;
  display: flex;
  gap: 100px;
  width: 80%;
  justify-self: center;
  justify-content: space-between;
}

.services-content {
  padding: 15px;
}

.services-form-container {
  width: 50%;
}

.services-form {
  display: flex;
  flex-direction: column;
  background-color: #3e301b;
  color: #d6d0bc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 6px solid #547a46;
}

.services-form label {
  font-weight: 600;
  font-size: 1.1rem;
}

.services-form input {
  background-color: #d6d0bc;
  color: #3e301b;
  border: none;
  border-bottom: 4px solid #547a46;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
}

.services-button {
  width: 100%;
  margin-top: 10px;
}

.button-services {
  background-color: #547a46;
  color: #d6d0bc; /* Bege */
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

.services-list-container {
  width: 50%;
}

.services-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

.services-details {
  background-color: #3e301b;
  color: #d6d0bc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0.5);
}

.services-text {
  color: #3e301b;
  background-color: #d6d0bc;
  padding: 5px;
  border-bottom: 4px solid #547a46;
}

.list-buttons-service {
  display: flex;
}

@media (max-width: 768px) {
  .services-container {
    min-width: 80%;
    flex-wrap: wrap;
    margin: 20 auto;
    padding: 10px;
  }
  .services-form-container {
    width: 100%;
  }
  .services-list-container {
    width: 100%;
  }
}
