@import "tailwindcss";

:root {
  --background: #d6d0bc;
  --foreground: #d6d0bc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d6d0bc;
    --foreground: #d6d0bc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-area {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
