.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 80%;
  text-align: center;
  box-shadow: 1px black;
}

.feedback-public{
  margin-top: 20px;
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
