.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.feedback-public {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
}

.image-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Acima do overlay */

  /* Alinhamento dos filhos (título e botão) */
  display: flex;
  flex-direction: column; /* Coloca um item em cima do outro */
  align-items: center; /* Centraliza horizontalmente */

  width: 90%; /* Evita que o texto quebre em telas pequenas */
  text-align: center;
}

.image-title {
  color: #d6d0bc;
  font-size: 8rem; /* Ajuste o tamanho conforme gostar */
  font-weight: bold;
  color: white;
  margin-bottom: 24px; /* Espaço entre o título e o botão */

  /* Sombra para melhor legibilidade */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.agendamento-button {
  background-color: #547a46;

  width: 280px;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none; /* Remove o sublinhado do link */
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.agendamento-button:hover {
  background-color: #5a4a2a; /* Um tom mais claro no hover */
  transform: scale(1.05); /* Efeito de zoom leve */
}

.image-container .image {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;
}

@media (max-width: 768px) {
  .agendamento-button {
    width: 250px;
    font-size: 1.2rem;
  }

  .image-title {
    font-size: 5rem;
  }
}

@media (max-width: 420px) {

  .image-title {
    font-size: 3rem;
  }
  
}