.config-container {
  textalign: center;
  margintop: 20px;
  display: flex;
  width: 80%;
  justify-self: center;
  flex-direction: row;
  gap: 50px;
}
@media (max-width: 768px) {
  .config-container {
    width: 100%;
    flex-direction: column;
  }
}
