/*
Cores Base:
Marrom Escuro: #3e301b
Verde: #547a46
Bege: #d6d0bc
*/

.plan-manager-container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: system-ui, sans-serif;
  color: #3e301b;
  align-items: center;
}

.plan-manager-form-container,
.plan-list-container {
  width: 80%;
}

.plan-title {
  color: #3e301b;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 3px solid #3e301b;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.plan-form-details {
  padding: 20px;
}

.plan-form {
  display: flex;
  flex-direction: column;
  background-color: #3e301b;
  color: #d6d0bc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.plan-form label {
  font-weight: 600;
  font-size: 1.1rem;
}

.plan-form input[type="number"] {
  background-color: #d6d0bc;
  color: #3e301b;
  border: none;
  border-bottom: 4px solid #547a46;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
}

.plan-button {
  width: 100%;
  display: flex;

  margin-top: 10px;
}

.button-plan {
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  border-left: 1px solid rgba(62, 48, 27, 0.3);
}

.plan-button button[type="submit"] {
  background-color: #547a46;
  color: #d6d0bc;
}

.plan-button button[type="button"] {
  background-color: #547a46;
  color: #d6d0bc;
}

@media (min-width: 768px) {
  .plan-manager-container {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
  }

  .plan-manager-form-container {
    width: 50%;
  }

  .list-container {
    width: 50%;
  }

  .list {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .list-button {
    flex-direction: row;
  }
}
