/*
#d6d0bc
#3e301b
#547a46
*/

.feedback-form-container {
  border: 1px solid #3e301b;
  width: 80%;
  background-color: #3e301b;
  border-bottom: 6px solid #547a46;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

select {
  background-color: #d6d0bc;
  color: #3e301b;
  border-bottom: 5px solid #547a46;
}

.feedback-form {
  color: #d6d0bc;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.2rem;
}

.feedback-form-header {
  color: #d6d0bc;
  font-size: 1.2rem;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #3e301b;
}

.feedback-comment {
  border: 1px solid #3e301b;
  width: 100%;
  background-color: #d6d0bc;
  border-bottom: 6px solid #547a46;
  color: #3e301b;
}

button {
  display: flex;
  gap: 30px;
  background-color: #547a46;
  max-width: 150px;
  padding: 10px;
  text-align: center;
  align-self: center;
}
