.footer{

    display: block;
    position: static;
    bottom: 0;
    width: 100%;
    height: 350px;
    background-color: #547a46;
    z-index: 1001;
}

.footer-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #d6d0bc;

}

.footer-block{

    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    color: #d6d0bc;
}

.rodape{
    height: 100px;
    width: 100%;
    text-align: center;
    color: #d6d0bc;
}