.footer{

    display: block;
    position: static;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #547a46;
    z-index: 1001;
}

.footer-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #d6d0bc;
    padding: 10px;

}

.footer-block{

    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    color: #d6d0bc;
    width: 50%;
}

.rodape{
    height: 15px;
    width: 100%;
    text-align: center;
    color: #d6d0bc;
    font-size: 10px;
}