.agendar-horario-block {
  display: flex;
  background-color: #3e301b;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  max-width: 450px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0.5);
}

.barber-selection-title{

  font-size: 1.5rem;
  color: #3e301b;
  text-align: center;
  margin-bottom: 20px;
  min-width: 400px;
  border-bottom: 3px solid #3e301b;

}

.selecionar-servico-container{
  width: 100%;
}

.agendar-horario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 25px;
  width: 80%;
}

.agendar-horario-alert{
  padding: 2rem;

}

.buttons-container {
  display: flex;
}

.detalhesAgendamento-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #3e301b;
  padding: 15px;
  align-items: center;
}
