.plan-title {
  color: #3e301b;
  font-size: 1.5rem;
  background-color: #d6d0bc;
  width: 100%;
}

.plan-manager-container {
  color: #3e301b;
  display: flex;
  gap: 100px;
  width: 80%;
  justify-self: center;
  justify-content: space-between;
}

.plan-manager-form-container {
  width: 50%;
}

.plan-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
  width: 100%;
  background-color: #3e301b;
  color: #d6d0bc;
  border-bottom: 6px solid #547a46;
  gap: 5px;
}
input {
  background-color: #d6d0bc;
  color: #3e301b;
  padding: 5px;
  width: 100%;
  border-bottom: 4px solid #547a46;
}

.plan-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.plan-services {
  background-color: #547a46;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  color: #d6d0bc;
}

.plan-list-container {
  width: 50%;
}

.plan-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.plan-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  max-height: 450px;
}

.plan-details {
  background-color: #3e301b;
  color: #d6d0bc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plan-text {
  color: #3e301b;
  background-color: #d6d0bc;
  padding: 5px;
  border-bottom: 4px solid #547a46;
}

.plan-buttons {
  display: flex;
  gap: 30px;
}

@media (max-width: 768px) {
  .plan-manager-container {
    min-width: 80%;
    flex-wrap: wrap;
    margin: 20 auto;
    padding: 10px;
  }
  .plan-manager-form-container {
    width: 100%;
  }
  .plan-list-container {
    width: 100%;
  }
  .plan-button {
    width: 100%;
  }
}
