/* --- 3. LISTA DE PLANOS (BOTÕES ESTICADOS) --- */

.list-container h3 {
  color: #3e301b;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 3px solid #3e301b;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: none;
}

.list-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.list-ul li {
  background-color: #3e301b;
  color: #d6d0bc;
  border-bottom: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  list-style: none;
  overflow: hidden;
}

.list-details {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.list-text {
  color: #d6d0bc;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;

  padding: 15px;
  background-color: #3e301b;
}

.list-buttons {
  display: flex;
  background-color: #d6d0bc;
  gap: 0;
}

.list-buttons {
  display: flex;
  background-color: #547a46;
  gap: 0;
}

.list-buttons button {
  padding: 15px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  flex-grow: 1;
  border-right: none;
  background-color: #547a46;
  color: #d6d0bc;
}

.list-buttons button:last-child {
  border-left: 1px solid rgba(62, 48, 27, 0.3);
}

.list-buttons button:first-child {
  border-right: none;
}
.list-buttons button:first-child:hover {
  background-color: #6a9a5a;
}

.list-buttons button:last-child:hover {
  background-color: #6a9a5a;
}

@media (min-width: 768px) {
  .list-container {
    width: 60%;
  }

  .list {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .list-button {
    flex-direction: row;
  }
}
