/*
#3e301b
#547a46
#d6d0bc
*/

.reset-password-container {
  width: 40%;
  justify-self: center;
}

.reset-title {
  text-align: center;
  color: #3e301b;
  font-size: 1.5rem;
}
.form-reset-container {
  background-color: #3e301b;
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

.form-group {
  background-color: #3e301b;
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
  background-color: #d6d0bc;
  border-bottom: 4px solid #547a46;
  height: 30px;
  color: #3e301b;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  width: 100%;
}

.submit-button {
  cursor: pointer;
  background-color: #547a46;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}
