/*
Cores Base:
Marrom Escuro: #3e301b
Verde: #547a46
Bege: #d6d0bc
*/

.inactive-periods-block {
  width: 50%;
}

.container-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}

h3 {
  color: #3e301b;
  width: 100%;
  text-align: start;
}

.inactive-periods-container {
  background-color: #3e301b;
  color: #d6d0bc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 6px solid #547a46;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-period-content {
  padding: 10px;
}

.add-period-form {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #3e301b;
}

.label-select-date {
  text-align: start;
  font-weight: 600;
  font-size: 1.1rem;
}

.inactive-periods-container input[type="date"],
.inactive-periods-container input[type="time"] {
  background-color: #d6d0bc;
  color: #3e301b;
  border: none;
  border-bottom: 4px solid #547a46;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
}

.period-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.period-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}

.period-text {
  color: #d6d0bc;
  background-color: #3e301b;
  padding: 5px;
  border-bottom: 4px solid #547a46;
}

.button-inactive-period {
  background-color: #547a46;
  color: #d6d0bc;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .inactive-periods-block {
    width: 80%;
  }

  .inactive-periods-container {
    width: 100%;
  }
  .container-page {
    flex-wrap: wrap;
    min-width: 100%;
    margin: 20px auto;
    padding: 10px;
  }
}
