.container-page {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  height: 100%;
}

.inactive-periods-container {
  background-color: #3e301b;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h3 {
  color: #3e301b;
  width: 100%;
  text-align: start;
}
.add-period-form {
  text-align: start;
}

.label-select-date {
  text-align: start;
}

.input-inactive-period {
  border-bottom: 4px solid #547a46;
}

.period-list {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.period-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #3e301b;
  padding: 15px 0;
}

.period-text {
  color: #3e301b;
  background-color: #d6d0bc;
  padding: 5px;
  border-bottom: 4px solid #547a46;
}

@media (max-width: 768px) {
  .container-page {
    flex-wrap: wrap;
    min-width: 100%;
    margin: 20px auto;
    padding: 10px;
  }
}
