.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #547a46;
  color: #d6d0bc;
  padding-top: 20px;
  padding-left: 10px;
  transform: translateX(-100%); /* Esconde a sidebar fora da tela por padrão */
  transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
  box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

nav {
  width: 100%;
}
.sidebar.open {
  transform: translateX(-0%);
}

.sidebar ul {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-start;
  gap: 20px;
}

.sidebar li {
  border-bottom: 1px solid #d6d0bc;
  width: 95%;
}
